* {
	box-sizing: border-box; 
}

html {
	position: relative;
	min-height: 100%;
}

h1 {
	text-align: left;
	margin-left: 50px;
}

body {
	text-align: center;
	margin: 0 auto 60px auto;
	background-color: #B2FF9E;
	font-size: 20px;
}

#header {
	margin: 0 auto;
	height: 160px;
	top: 0;
	background-color: #086375;
	padding-top: 20px;
	color: white;
	border-radius: 20px 20px 0 0;
	border: solid black;
	border-width: 1px 1px 0 1px;
}

#form {
	height: 62px;
	background-color: #086375;
	padding-top: 10px;
	border: solid 1px black;
	border-radius: 0 0 20px 20px;
}

button, #searchInput {
	border-radius: 10px;
	text-align: center;
	outline: none;
}

#searchInput {
	width: 100%;
	float: right;
	border: solid #B2FF9E 2px;
	padding: 3px;
	background: url("../images/searchIcon.png") no-repeat white;
	background-position: right;
	background-size: contain;
}

#searchInput:focus {
	border: solid #1DD3B0 3px;
}

#submitButton {
	margin-left: -2%;
	border: solid #B2FF9E 2px;
	float: left;
	width: 100%;
	background-color: #1DD3B0;
}

#clearGifButton {
border: solid #B2FF9E 2px;
width: 100%;
float: left;
background-color: #1DD3B0;
}

#submitButton:hover {
	border: solid #1DD3B0 2px;
	background-color: #B2FF9E;
}

#clearGifButton:hover {
	border: solid #1DD3B0 2px;
	background-color: #B2FF9E;
}

#message {
	height: 20px;
	color: red;
}

.topicButton {
	min-width: 15%;
	background-color: #086375;
	border: solid 2px #1DD3B0;
	text-transform: capitalize;
	margin: 5px;
	border-radius: 10px;
}

.topicButton:hover {
	background-color: #1DD3B0;
	border: solid 2px #086375;
}

.topicButton:focus {
	background-color: #1DD3B0;
	border: solid 2px #086375;
}

/*rating*/
.topicDiv > p {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #086375;
	border: solid 2px #1DD3B0;
	color: white;
	width: 70%;
	margin: 8px auto;
	border-radius: 10px;
}

img {
	width: 100%;
	height: 200px;
}

img:hover {
	opacity: .5;
}

.topicDiv {
	height: 250px;
	width: 23%;
	margin: 1%;
	border: 3px solid white;
	overflow: none;
}

footer {
	position: absolute;
	height: 60px;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #086375;
	left: 0;
	right: 0;
	padding-top: 20px;
	color: white;
}